.cover-bg,  .fixed-bg  {
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.fixed-bg {
    background-attachment: fixed;
}